.imgHeight{
  height: 350px;
  width:270px;
}
.quote{
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  color: rgb(74, 74, 74);
}
.Featured{
  font-family: 'Playfair Display', serif;
  font-size: 32px;

}
.container3{
  font-size: 12px;
  font-family: 'Inter',serif;
}
.imgHeight2{
  height: 300px;
  width:240px;
}
.bottom-right {
  position: absolute;
  bottom: 83px;
  width: 200px;
  height: 75px;
  right: -11.5px;
  padding:20px;
  background-color:white;

}
.bottom-right1 {
  position: absolute;
  bottom: 83px;
  width: 200px;
  height: 75px;
  right: -51.5px;
  padding:20px;
  background-color:white;

}
.imgtext {
  position: relative;
  text-align: left;
  line-height: .5;
}
